<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@{{ site.twitter_username_1 }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ page.url }}" />

{% if page.title %}
<meta property="og:title" content="{{ page.title }}" />
{% else %}
<meta property="og:title" content="{{ site.title }}" />
{% endif %}

{% if page.description %}
<meta property="og:description" content="{{ page.description }}" />
{% else %}
<meta property="og:description" content="{{ site.description }}" />
{% endif %}

{% if page.image %}
<meta property="og:image" content="{{ site.url }}/Escapism/assets/img/{{ page.image }}" />
{% else %}
<meta property="og:image" content="{{ site.url }}/Escapism/assets/img/logo.png" />
{% endif %}