.post p, .post blockquote, .post script {
  margin-bottom: 16px;
}

.post table {
  margin-bottom: 16px;
  width: 100%;
  table-layout: auto;
}

.post th {
  background-color: #cbd5e0;
  padding: 8px;
  border-width: 1px;
}

.post td {
  padding: 8px;
  border-width: 1px;
}

.post ul, .post ol {
  margin-bottom: 16px;
  list-style-type: disc;
  list-style-position: inside;
}

.post li {
  margin-bottom: 8px;
}
